@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$red: #c71f16;
$grey: #b4b4b4;
$green: #00CCBC;

#app {
    margin-top: 100px;
}

a.navbar-brand {
	background-image: url('/images/logo.svg');
	background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
}

.user span {
    color: $grey;
}

.admin span {
    color: $green;
}

.container-fluid {
    max-width: 1140px;
    .col-md-6.detail {
        height: 400px;
        overflow: hidden;
        padding: 0;

        &:nth-child(even) {
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            .inner_content {
                width: 80%;
            }
        }

        img {
            width: auto;
            height: 100%;
        }
    }
}

.disqualified {
    color: $red;
}

.notdisqualified {
    color: $grey;
}

.list-group-item {
    padding: 10px 0 10px 15px;
    .inner_content, .delete_btn {
        float: left;
    }
    .inner_content {
        width: 95%;
    }

    .delete_btn {
        width: 5%;
        background-color: $red;
    }

    &::after {
        clear: both;
        display: block;
        content: "";
    }
}

nav#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $green;
    z-index: 2;

    height: 10%;

    .container-fluid {
        height: 100%;
        position: relative;
        max-width: 1140px;
        #logo-banner {
            position: absolute;
            left: 0;
            height: 100%;
            width: 200px;
            padding: 10px 0;
            .logo {
                display: block;
                background: url('/images/logo.svg') no-repeat center center;
                background-size: contain;
                width: auto;
                height: 100%;
            }
        }

        #user-banner {
            height: 100%;
            width: 250px;
            position: absolute;
            right: 0;
            color: white;

            .user-management {
                height: 100%;
                width: 100%;
                .image-wrapper, .content {
                    float: left;
                }

                .image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 25%;
                    img {
                        border-radius: 50%;
                    }
                }

                .content {
                    width: 75%;
                    height: 100%;
                    text-align: left;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;

                    .inner {
                        h4 {
                            margin: 0;
                            font-size: 1em;
                        }

                        a {
                            display: block;
                            line-height: 20px;
                            font-size: .8em;
                            float: left;
                            margin-right: 10px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}