@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$red: #ee6d66;
$grey: #b4b4b4;
$green: #00CCBC;
$blue: #66a1ee;
$break-small: 768px;

h1 {
    font-family: 'Montserrat', sans-serif;
}

#app {
    margin-top: 100px;
}

a.navbar-brand {
	background-image: url('/images/logo.svg');
	background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
}

.user span {
    color: $grey;
}

.admin span {
    color: $green;
}

.container-fluid {
    max-width: 1140px;

    nav {
        ul {
            padding: 0;
            li {
                list-style: none;
                float: left;
                margin-right: 25px;
                background-color: $green;
                a {
                    display: block;
                    padding: 15px 25px;
                    color: white;

                    &:hover {
                        text-decoration: none;
                        background-color: darken($green, 10);
                    }
                }
            }

            &::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

    .jumbotron {
        background-color: white;
        color: $green;
        box-shadow: 1px 1px 3px lighten(#000, 75);
        border-radius: 0;

        &.edit {
            width: 50%;
            margin: 0 auto;

            form {
                width: 75%;
                margin: 0 auto;

                input[type="submit"] {
                    background-color: $green;
                    padding: 5px 15px;
                    color: white;
                    margin-top: 15px;
                }
                .form-group {                    
                    .col-md-12 {
                        padding: 0;
                        input {
                            width: 100%;
                            margin-bottom: 15px;
                            color: $grey;
                        }

                        textarea {
                            width: 100%;
                            color: $grey;
                        }
                    }
                }
            }
        }

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.25em;
            width: 75%;
            color: black;
        }
    }

    .wrapper {
        height: 450px;
        margin-bottom: 50px;
        box-shadow: 1px 1px 3px lighten(#000, 75);

        @media screen and (max-width: $break-small) {
            height: auto;
        }
        .col-md-12.responsible {
            background-color: $green;
            height: 50px;

            .inner {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                p, .icon {
                    float: left;
                }

                p {
                    margin: 0 25px 0 0;
                    text-align: center;
                    color: white;
                    line-height: 50px;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        .col-md-6 {
            &.content , &.detail {
                height: 400px;
                overflow: hidden;
                padding: 0;
            }

            &.detail {
                img {
                    width: auto;
                    height: 100%;

                    @media screen and (max-width: $break-small) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.content {
                display: flex;
                justify-content: center;
                align-items: center;
                .inner_content {
                    width: 70%;

                    h1 {
                        margin: 0;
                        font-size: 2em;
                        color: black;
                    }

                    p {
                        font-size: 1em;
                        line-height: 1.6em;
                        color: black;
                        font-weight: 100;
                        margin: 15px 0;
                    }

                    .active, .inactive {
                        display: block;
                        height: 25px;
                        margin: 15px 0;

                        display: flex;
                        align-items: center;
                        border-radius: 10px;

                        span, p {
                            float: left;
                        }

                        span {
                            display: block;
                            background-image: url('/images/icons/bell.svg');
                            background-position: center center; 
                            background-repeat: no-repeat;
                            background-size: 60%;
                            height: 25px;
                            width: 25px;
                        }
                        p {
                            display: inline-block;
                            margin: 0 0 0 5px;
                            color: white;
                            font-weight: bold;
                        }
                    }

                    .active {
                        background-color: $green;
                        width: 22.5%;
                    }

                    .inactive {
                        background-color: $red;
                        width: 25%;
                    }

                    form, a {
                        height: 50px;
                        width: 50%;
                        border-radius: 0;
                    }

                    a.change {
                        display: inline-block;
                        background-color: $green;
                        background-image: url('/images/icons/pencil.svg');
                        background-position: center center; 
                        background-repeat: no-repeat;
                        background-size: 12.5%;
                        text-indent: 1000px;
                    }

                    form {
                        float: left;

                        input {
                            border: none;
                            background-color: $red;
                            color: white;
                            width: 100%;
                            height: 100%;
                            border-radius: 0;

                            background-image: url('/images/icons/rubbish.svg');
                            background-position: center center; 
                            background-repeat: no-repeat;
                            background-size: 12.5%;
                            text-indent: 1000px;

                            &:disabled {
                                background-color: $grey;
                            }
                        }
                    }
                }
                background-color: white;
            }
        }
    }

    .col-md-12 {
        .btn-primary {
            background-color: $red;
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;

            background-image: url('/images/icons/add.svg');
            background-position: center center; 
            background-repeat: no-repeat;
            background-size: 30%;
            margin-bottom: 50px;
        }
    }
}

.disqualified {
    color: $red;
}

.notdisqualified {
    color: $grey;
}

.list-group-item {
    padding: 0;
    height: 75px;
    .inner_content, .delete_btn {
        float: left;
    }
    .inner_content {
        width: 100%;

        .title {
            display: inline-block;
            width: 85%;
            h4 {
                margin: 0;
                padding-left: 50px;
                line-height: 75px;
            }
        }

        .buttons {
            height: 75px;
            width: 15%;

            a {
                display: inline-block;
                height: 100%;
                float: left;

                width: 33.3333333%;
                display: flex;
                justify-content: center;
                align-items: center;

                &.disqualified, &.notdisqualified, &.admin, &.user, &.remove {
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 30%;
                }

                &.disqualified, &.notdisqualified {
                    background-image: url('/images/icons/delete.svg');
                    background-size: 25%;
                    background-color: $blue;
                }

                &.notdisqualified {
                    background-color: $grey;
                }

                &.admin, &.user {
                    background-image: url('/images/icons/admin.svg');
                    background-color: $green;
                }

                &.user {
                    background-color: $grey;
                }

                &.remove {
                    background-image: url('/images/icons/rubbish.svg');
                    background-color: $red;
                }
            }
        }
    }

    .delete_btn {
        width: 5%;
        background-color: $red;
    }

    &::after {
        clear: both;
        display: block;
        content: "";
    }
}

nav#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $green;
    z-index: 2;

    height: 10%;

    .container-fluid {
        height: 100%;
        position: relative;
        max-width: 1140px;
        #logo-banner {
            position: absolute;
            left: 0;
            height: 100%;
            width: 200px;
            padding: 10px 0;
            .logo {
                display: block;
                background: url('/images/logo.svg') no-repeat center center;
                background-size: contain;
                width: auto;
                height: 100%;
            }
        }

        #user-banner {
            height: 100%;
            width: 250px;
            position: absolute;
            right: 0;
            color: white;

            .user-management {
                height: 100%;
                width: 100%;
                .image-wrapper, .content {
                    float: left;
                }

                .image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 25%;
                    img {
                        border-radius: 50%;
                    }
                }

                .content {
                    width: 75%;
                    height: 100%;
                    text-align: left;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;

                    .inner {
                        h4 {
                            margin: 0;
                            font-size: 1em;
                        }

                        a {
                            display: block;
                            line-height: 20px;
                            font-size: .8em;
                            float: left;
                            margin-right: 10px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.fb {
    float: left;
    width: auto;
    
    a, button{
        background-color: $green;
        border-radius: 0;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: darker($green, 10) !important;
        }
    }

    &.marg {
        margin: 0;
        padding: 0;
    }
}

.col-md-12 {
    margin: 0 auto;
    padding: 0;
}

#table {
    tr {
        td {
            a {
                display: inline-block;
                height: 30px;
                width: 100px !important;
                float: left;

                width: 33.3333333%;
                display: flex;
                justify-content: center;
                align-items: center;

                &.disqualified, &.notdisqualified, &.admin, &.user, &.remove {
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 20%;
                }

                &.disqualified, &.notdisqualified {
                    background-image: url('/images/icons/delete.svg');
                    background-size: 15%;
                    background-color: $blue;
                }

                &.notdisqualified {
                    background-color: $grey;
                }

                &.admin, &.user {
                    background-image: url('/images/icons/admin.svg');
                    background-color: $green;
                }

                &.user {
                    background-color: $grey;
                }

                &.remove {
                    background-image: url('/images/icons/rubbish.svg');
                    background-color: $red;
                }
            }
        }
    }
}

.participants {
    background-color: $red;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: darken($red, 5);
        color: white;
    }
}