@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$red: #c71f16;
$grey: #b4b4b4;
$green: #00CCBC;

// .created_at.pull-right {
// 	position: absolute;
//     right: 25px;
//     top: 10px;
// }

// .buttons.pull-right {
// 	position: absolute;
//     right: 25px;
//     bottom: 10px;
// }

a.navbar-brand {
	background-image: url('/images/logo.svg');
	background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
}

.user span {
    color: $grey;
}

.admin span {
    color: $green;
}

.container {
    .col-md-6.detail {
        height: 300px;
        img {
            width: 100%;
        }
    }
}

.disqualified {
    color: $red;
}

.notdisqualified {
    color: $grey;
}

.list-group-item {
    padding: 10px 0 10px 15px;
    .inner_content, .delete_btn {
        float: left;
    }
    .inner_content {
        width: 95%;
    }

    .delete_btn {
        width: 5%;
        background-color: $red;
    }

    &::after {
        clear: both;
        display: block;
        content: "";
    }
}