
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$green: #00CCBC;
$red: #ee6d66;

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

nav#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $green;
    z-index: 2;

    height: 10%;

    .container-fluid {
        height: 100%;
        position: relative;
        #logo-banner {
            position: absolute;
            left: 0;
            height: 100%;
            width: 200px;
            padding: 10px 0;
            .logo {
                display: block;
                background: url('/images/logo.svg') no-repeat center center;
                background-size: 100%;
                width: auto;
                height: 100%;
            }
        }

        #user-banner {
            height: 100%;
            width: 250px;
            position: absolute;
            right: 0;

            .user-management {
                height: 100%;
                width: 100%;
                .image-wrapper, .content {
                    float: left;
                }

                .image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 25%;
                    img {
                        border-radius: 50%;
                    }
                }

                .content {
                    width: 75%;
                    height: 100%;
                    text-align: left;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;

                    .inner {
                        h4 {
                            margin: 0;
                            font-size: 1em;
                        }

                        a {
                            display: block;
                            line-height: 20px;
                            font-size: .8em;
                            float: left;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

#winners {
    position: absolute;
    bottom: 50px;
    left: 50px;

    .header {
        text-align: center;
    }

    .winner-cards {
        position: relative;
        height: 225px;
        .winner {
            position: absolute;
            background-color: white;
            width: 150px;
            height: 200px;
            z-index: 0;

            .thumb {
                width: 90%;
                margin: 5% auto;
                height: 135px;

                img {
                    width: 100%;
                }
            }

            .content {
                .name {
                    font-weight: bold;
                    font-size: .8em;
                }

                .contest {
                    font-size: .8em;
                }
            }

            &:nth-child(1), &:nth-child(3)  {
                // margin-top: 12.5px;
            }

            &:nth-child(2) {
                left: 100px;
                z-index: 1;
                transform: scale(1.1);
            }

            &:nth-child(3)  {
                left: 200px;
            }
        }
    }

    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.container-fluid {
	text-align: center;
	color: white;
    max-width: 1140px;

    &.contest {
        color: black;
        margin-top: 100px;
        .row {
            margin: 0 auto;
            .col-md-4 {
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
    }

	.row {
		.title {
            text-align: center;
    		font-size: 5em;
    		font-weight: bold;
		}

        a {
            display: inline-block;
            margin-top: 25px;
            background-color: $green;
            padding: 10px 25px;
            color: white;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.5s all ease-in-out;

            &:hover {
                text-decoration: none;
                background-color: darken($green, 8);
            }
        }

        .description {
            font-family: 'Esteban';
            font-size: 1.5em;
            padding: 0 150px;
            margin: 25px 0;
        }
	}

    input[type=submit] {
        background-color: $green;
        border: none;
        color: white;
        padding: 10px 15px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
    }
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

    label, input {
        text-align: left;
        width: 80%;
        margin: 0 auto;
    }

    input {
        margin-bottom: 25px;

        &[type=submit] {
            width: 40%;
            text-align: center;
            margin: 0;
        }
    }

    &.form {
        .panel {
            height: 100%;
            display: flex;
            align-items: center;

            .col-md-12 {
                input {

                    &[type="file"] {
                        width: 100%;
                    }
                }
            }

            .help-block {
                text-align: left;
                color: $red;
                strong {
                    font-size: .9em;
                }
            }
        }
    }

    .thumbnail {
        background: #000000;
        height: 300px;
        overflow: hidden;
        padding: 0;
        border-radius: 0;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .superlikes , .likes{
            position: absolute;
            width: 30%;
            color: white;
            font-weight: bold;
            height: 25px;

            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 10px;
                padding: 7px;
            }
        }

        .superlikes {
            background-color: $red;
            top: 17.5%;

            span {
                background-image: url(/images/icons/star.svg);
            }
        }
    
        .likes {
            background-color: $green;
            top: 10%;

            span {
                background-image: url(/images/icons/heart.svg);
            }
        }

        .like {
            input {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 1;
                background: $green;
                width: 40px;
                height: 40px;
                padding: 10px 0;
                border-radius: 100%;
                font-size: 0.8em;
                color: #FFFFFF;
                font-weight: 700;
                text-align: center;
                box-sizing: border-box;
            }
        }
    }

    .post-content {
        position: absolute;
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        box-sizing: border-box;

        .inner {
            padding: 20px;
            .title {
                margin: 0;
                padding: 0 0 10px;
                color: $green;
                font-size: 1.5em;
                letter-spacing: 1px;
                font-weight: 700;
                text-align: left;
            }

            .description {
                display: block !important;
                height: auto !important;
                opacity: 1 !important;
                color: #666666;
                font-size: 14px;
                line-height: 1.8em;
                text-align: left;
                padding: 0;
                margin: 10px 0;
            }

            .post-meta {
                margin: 15px 0 0;
                color: #999999;
                text-align: left;

                .user {
                    display: flex;
                    align-items: center;
                    img, p {
                        float: left;
                    }

                    img {
                        border-radius: 50%;
                    }

                    p {
                        color: black;
                        font-size: .9em;
                        font-weight: 300;
                        margin: 0 0 0 15px;
                    }

                    &::after {
                        clear: both;
                        display: block;
                        content: "";
                    }
                }

                .timestamp {
                    margin: 0 16px 0 0;
                }
            }
        }

        .post-likes {
            width: 100%;

            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                background-color: $green;
                display: block;
                height: 50px;
                line-height: 50px;
                color: white;
            }

            form {
                width: 50%;
                float: left;

                input {
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    border-radius: 0;

                    &.heart, &.star, &.full_heart, &.full_star {
                        background-size: 12.5%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        text-indent: -1000px;
                    }

                    &.heart {
                        background-image: url(/images/icons/heart.svg);
                    }

                    &.star {
                        background-image: url(/images/icons/star.svg);
                    }

                    &.full_heart {
                        background-image: url(/images/icons/full_heart.svg);
                    }

                    &.full_star {
                        background-image: url(/images/icons/full_star.svg);
                    }
                }
            }

            form.superlike {
                input {
                    background-color: $red;
                }
            }
        }
    }
}

#how {
    height: 90%;
    .container-fluid {
        height: 100%;
        width: 100%;
        max-width: unset;
        padding: 0;
        .row {
            margin: 0;
            height: 100%;
            .col-md-4 {
                height: 100%;
                background-color: white;
                padding: 0;
                
                .image {
                    height: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        margin: 0;
                        font-size: 4em;
                    }
                }

                .content {
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .inner {
                        width: 60%;
                        h2, p {
                            color: black;
                            text-align: left;
                        }

                        h2 {
                            font-weight: bold;
                            font-size: 1.5em;
                            margin: 0;
                        }

                        p {
                            font-size: 1em;
                            line-height: 1.6em;
                            margin: 0;
                        }

                        span {
                            display: block;
                            width: 25%;
                            background-color: $green;
                            height: 2px;
                            margin: 15px 0;
                        }
                    }
                }

                &:nth-child(1) {
                    .image {
                        background-image: url('/images/background/cook.jpg');
                    }
                }

                &:nth-child(2) {
                    .image {
                        background-image: url('/images/background/presentation.jpg');
                    }
                }

                &:nth-child(3) {
                    .image {
                        background-image: url('/images/background/photography.jpg');
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 10%;
    background-color: #007A71;
}