
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$green: #00CCBC;

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.container-fluid {
	text-align: center;
	color: white;
    max-width: 1140px;

    &.contest {
        margin-top: 200px;
        color: black;

        .row {
            margin: 0 auto;
            .col-md-4 {
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
    }

	.row {
		.title {
            text-align: center;
    		font-size: 28px;
    		font-weight: bold;

    	&.m-b-md {
    		margin-bottom: 30px;
		}
		}

        a {
            display: inline-block;
            margin-top: 25px;
            background-color: white;
            padding: 10px 25px;
            color: black;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
        }
	}

    input[type=submit] {
        background-color: $green;
        border: none;
        color: white;
        padding: 10px 15px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
    }
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#logo-banner, #user-banner {
    z-index: 2;
}

#logo-banner {
    position: fixed;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    border-top: 250px solid $green;
    border-right: 500px solid transparent;

    .logo {
        background: url('/images/logo.svg') no-repeat center center;
        background-size: contain;
        position: fixed;
        top: 5%;
        left: 5%;
        width: 200px;
        height: 75px;
        z-index: 99;
    }
}

#user-banner {
    position: fixed;
    top: 50px;
    right: 100px;

    .user-management {
        // background-color: white;

        .image-wrapper, .content {
            float: right;
        }

        .image-wrapper {
            width: 50px;
            height: 50px;
            background-color: #000;
            border-radius: 50%;
            margin: 0;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                display: block;
                border-radius: 50%;
            }
        }

        .content {
            margin: 5px 20px 5px 0;
            // margin-right: 20px;
            // margin-top: 5px;
            text-align: right;
            h4 {
                font-size: 1em;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 25px;
                color: white;
                margin: 0;
            }
            a {
                display: block;
                margin-top: -5px;
                font-size: .9em;
                font-weight: bold;
            }
        }
    }
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

    &.form {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    &:hover .thumbnail img, .hover .thumbnail img {
        transform: scale(1.1);
        opacity: .6;
    }

    .thumbnail {
        background: #000000;
        height: 400px;
        overflow: hidden;
        padding: 0;
        border-radius: 0;

        .like {
            input {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 1;
                background: #00CCBC;
                width: 40px;
                height: 40px;
                padding: 10px 0;
                border-radius: 100%;
                font-size: 0.8em;
                color: #FFFFFF;
                font-weight: 700;
                text-align: center;
                box-sizing: border-box;
            }
        }

        img {
            display: block;
            width: 120%;
            transition: all 0.3s linear 0s;
        }
    }

    .post-content {
        position: absolute;
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;

        .title {
            margin: 0;
            padding: 0 0 10px;
            color: $green;
            font-size: 26px;
            font-weight: 700;
            text-align: left;
        }

        .description {
            display: none;
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
            text-align: left;
        }

        .post-meta {
            margin: 30px 0 0;
            color: #999999;
            text-align: left;

            .timestamp {
                margin: 0 16px 0 0;
            }
        }

        .description {
            display: block !important;
            height: auto !important;
            opacity: 1 !important;
        }
    }
}

