
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.bg-image {
	background: url('/images/background/deliveroo.jpg') no-repeat center center;
	background-size: cover;
}

.logo {
	background: url('/images/logo.png') no-repeat center center;
	background-size: cover;
	width: 500px;
	height: 150px;
}